/* Figma Styles of your File */
:root {
  /* Colors */
  --oliva: #6d6553;
  --dorado: #bc865a;
  --rosa: #f9f1ef;
  --crema: #fff8f2;
  --olivaclaro: linear-gradient(
      to left,
      rgba(109, 101, 83, 0.1),
      rgba(109, 101, 83, 0.1)
    ),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --body: 400 18px/150% "Poppins", sans-serif;
  --bodysm: 400 16px/24px "Poppins", sans-serif;
  --body-large-cta: 400 20px/160% "Poppins", sans-serif;

  /* Effects */
}
