a, a:visited, a:link, a:active{
  text-decoration: none !important;
}
.wedding {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  /* margin: 0 10% 0 10%; */
  padding: 0 10% 0 10%;
}

.wedding .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.wedding .content {
  display: inline-flex;
  flex-direction: column;
  height: 904px;
  align-items: flex-start;
  position: absolute;
  top: 120px;
  left: 0;
  overflow-y: scroll;
}

.wedding .div-2 {
  gap: 60px;
  padding: 100px 0px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 0px 42px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.wedding .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.wedding .div-pf-image-with {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .img {
  object-fit: cover;
  position: relative;
  width: 400px;
  height: 400px;
}

.wedding .div-text-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.wedding .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.wedding .p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.wedding .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  margin-bottom: -1px;
  margin-left: -1px;
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-4 {
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  position: relative;
}

.wedding .img-2 {
  position: relative;
  width: 400px;
  height: 400px;
}

.wedding .section-pelu {
  width: 1440px;
  justify-content: center;
  gap: 10px;
  padding: 0px 160px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body-2 {
  padding: 80px 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-modal-body-3 {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-pf-image-with-2 {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-text-content-2 {
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.wedding .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 50px;
}

.wedding .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .p-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.wedding .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.wedding .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.wedding .villaviciosa-hotel {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 50px;
}

.wedding .div-text-content-3 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.wedding .section-contacto {
  width: 1440px;
  justify-content: center;
  gap: 10px;
  padding: 60px 160px;
  background-color: var(--rosa);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body-4 {
  padding: 16px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--oliva);
  font-size: var(--body-font-size);
  text-align: center;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.wedding .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  text-decoration: underline;
  white-space: nowrap;
}

.wedding .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 240px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.wedding .frame-4 {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 60px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .a-r {
  align-self: stretch;
  margin-top: -1px;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
}

.wedding .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Libre Baskerville", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.wedding .navbar-mobileW {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 110px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 13px 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--oliva-claro);
  z-index: 100;
}

.wedding .content-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .a-r-2 {
  width: fit-content;
  white-space: nowrap;
  position: relative;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
}

.wedding .UL {
  display: flex;
  /* width: 1440px; */
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 30px 0px;
  /* position: relative; */
  align-self: stretch;
 
}



.wedding .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-sm-font-family);
  font-weight: var(--body-sm-font-weight);
  color: var(--oliva);
  font-size: var(--body-sm-font-size);
  text-align: center;
  letter-spacing: var(--body-sm-letter-spacing);
  line-height: var(--body-sm-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-font-style);
}

.wedding .link-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  flex: 0 0 auto;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: var(--oliva);
  position: relative;
}


.wedding .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
  /* margin-left: -358px; */
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
}
