a, a:visited, a:link, a:active{
  text-decoration: none !important;
  border-color: var(--oliva);
}
.mobile{
  display: none;
}
.wedding {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin:auto;
  /* padding: 0 10% 0 10%; */
}

.wedding .div {
  background-color: #ffffff;
  /* width: 1440px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1024px;
  margin: auto;
}

.wedding .content {
  display: flex;
  flex-direction: column;
  height: 100vhpx;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 0;
  overflow-y: scroll;
}

.wedding .div-2 {
  gap: 60px;
  padding: 100px 0px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 0px 42px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.wedding .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.wedding .div-pf-image-with {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .img {
  object-fit: cover;
  position: relative;
  width: 400px;
  height: 400px;
}

.wedding .div-text-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.wedding .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.wedding .p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.wedding .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  margin-bottom: -1px;
  margin-left: -1px;
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-4 {
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  position: relative;
}

.wedding .img-2 {
  position: relative;
  width: 400px;
  height: 400px;
}

.wedding .section-pelu {
  width: 1440px;
  justify-content: center;
  gap: 10px;
  padding: 0px 160px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body-2 {
  padding: 80px 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-modal-body-3 {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-pf-image-with-2 {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .div-text-content-2 {
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.wedding .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 50px;
}

.wedding .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .p-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.wedding .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.wedding .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.wedding .villaviciosa-hotel {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Cormorant", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 50px;
}

.wedding .div-text-content-3 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.wedding .section-contacto {
  width: 100%;
  justify-content: center;
  gap: 10px;
  padding: 60px 160px;
  background-color: var(--rosa);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wedding .div-modal-body-4 {
  padding: 16px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--oliva);
  font-size: var(--body-font-size);
  text-align: center;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.wedding .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
  position: relative;
  flex: 0 0 auto;
}

.wedding .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  text-decoration: underline;
  white-space: nowrap;
}

.wedding .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 240px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.wedding .frame-4 {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 60px 0px;
  position: relative;
  flex: 0 0 auto;
}

.wedding .a-r {
  align-self: stretch;
  margin-top: -1px;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
}

.wedding .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Libre Baskerville", Helvetica;
  font-weight: 400;
  color: var(--oliva);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.wedding .navbar-mobileW {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 13px 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--oliva-claro);
  
  z-index: 100;
}

.wedding .content-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wedding .a-r-2 {
  width: fit-content;
  white-space: nowrap;
  position: relative;
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  color: var(--oliva);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
}

.wedding .UL {
  display: flex;
  /* width: 1440px; */
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 30px 0px;
  /* position: relative; */
  align-self: stretch;
 
}



.wedding .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-sm-font-family);
  font-weight: var(--body-sm-font-weight);
  color: var(--oliva);
  font-size: var(--body-sm-font-size);
  text-align: center;
  letter-spacing: var(--body-sm-letter-spacing);
  line-height: var(--body-sm-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-font-style);
}

.wedding .link-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  flex: 0 0 auto;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: var(--oliva);
  position: relative;
}


.wedding .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
  /* margin-left: -358px; */
  border-radius: 160px;
  border: 1px solid;
  border-color: var(--oliva);
}


/* Mobile CSS */

@media (max-width:480px ) {
  .wedding{
    display: none;
  }

  .mobile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
    -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: column;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  overflow-x: hidden;
  }
  
  .mobile .div {
    background-color: #ffffff;
    width: 100vw;
    height: 812px;
  }
  
  .mobile .content {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    position: absolute;
    top: 66px;
    left: 0;
    overflow-y: scroll;
    width: 100vw;
  }
  
  .mobile .div-2 {
    gap: 40px;
    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .div-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Cormorant", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .mobile .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-sm-font-family);
    font-weight: var(--body-sm-font-weight);
    color: var(--oliva);
    font-size: var(--body-sm-font-size);
    letter-spacing: var(--body-sm-letter-spacing);
    line-height: var(--body-sm-line-height);
    font-style: var(--body-sm-font-style);
  }
  
  .mobile .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .div-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .img {
    object-fit: cover;
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .mobile .div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Cormorant", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 26px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }
  
  .mobile .p {
    position: relative;
    align-self: stretch;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--oliva);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .mobile .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    margin-bottom: -1px;
    border-radius: 160px;
    border: 1px solid;
    border-color: var(--oliva);
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .text-wrapper-4 {
    margin-top: -0.5px;
    text-align: center;
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--oliva);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .mobile .img-2 {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .mobile .text-wrapper-5 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Cormorant", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .mobile .section-pelu {
    justify-content: center;
    gap: 10px;
    padding: 40px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .div-modal-body-2 {
    padding: 40px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .div-modal-body-3 {
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .div-pf-image-with {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .div-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .p-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .mobile .img-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .mobile .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--oliva);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .mobile .text-wrapper-7 {
    text-decoration: underline;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--oliva);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .mobile .text-wrapper-8 {
    text-align: center;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Cormorant", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 35px;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .mobile .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-sm-font-family);
    font-weight: var(--body-sm-font-weight);
    color: var(--oliva);
    font-size: var(--body-sm-font-size);
    text-align: center;
    letter-spacing: var(--body-sm-letter-spacing);
    line-height: var(--body-sm-line-height);
    font-style: var(--body-sm-font-style);
  }
  
  .mobile .div-pf-image-with-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Cormorant", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }
  
  .mobile .section-contacto {
    justify-content: center;
    gap: 10px;
    padding: 60px 0px;
    background-color: var(--rosa);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .div-modal-body-4 {
    padding: 16px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .text-wrapper-11 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--oliva);
    font-size: var(--body-font-size);
    text-align: center;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .mobile .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px 10px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 160px;
    border: 1px solid;
    border-color: var(--oliva);
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 30px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .mobile .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 0px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .a-r {
    align-self: stretch;
    text-align: center;
    position: relative;
    margin-top: -1px;
    font-family: "Playfair Display", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 40px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .mobile .dise-ado-por-dinos {
    position: relative;
    align-self: stretch;
    font-family: "Libre Baskerville", Helvetica;
    font-weight: 400;
    color: var(--oliva);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .mobile .fixed {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid;
    border-color: var(--oliva-claro);
  }
  
  .mobile .navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 13px 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--oliva-claro);
  }
  
  .mobile .content-2 {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .mobile .a-r-2 {
    flex: 1;
    position: relative;
    margin-top: -1px;
    font-family: "Playfair Display", Helvetica;
    font-weight: 500;
    color: var(--oliva);
    font-size: 40px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .mobile .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mobile .icons-interactive-UI {
    /* BURGER ICON */
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
  }
  
  .mobile .line {
    top: 4px;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 1px;
  }
  
  .mobile .line-2 {
    top: 14px;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 1px;
  }
  
  .mobile .line-3 {
    top: 24px;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 1px;
  }
  
}